.ant-layout {
  width: 100%;
  height: 100%;
}

.site-layout-background {
  background: #fff;
  height: 50%;
}

.ant-menu-dark .ant-menu-item:hover .ant-badge {
  color: #fff !important;
}

.header .ant-badge {
  color: rgba(255, 255, 255, 0.65) !important;
}
