.cart-container {
  width: 100%;
  height: 100%;
}

.cart-container[data-empty="true"] {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-y: auto;
  overflow-x: hidden;
}

.cart-container[data-empty="false"] {
  display: grid;
  grid-template-columns: repeat(2, 50%);
}
