.ant-card-body {
  min-height: 12rem;
}

.ant-card:hover .ant-card-actions span {
  color: #1890ff;
  transform: scale(1);
}

.ant-card:hover .ant-card-actions span {
  transition: transform 0.2s ease;
  transform: scale(1.2);
}

.ant-card[data-clickable="true"]:active.ant-card-bordered {
  box-shadow: 0 3px 10px 4px rgb(0 0 255 / 16%), 0 3px 6px 0 rgb(0 0 255 / 12%),
    0 5px 12px 4px rgb(0 0 255 / 9%);
}

.ant-card[data-clickable="true"]:active.ant-card-hoverable {
  transition: border-color 0.3s;
}
