.promo-code__container {
  height: 100%;
  width: 100%;
}

.promo-code__container .ant-card-body {
  padding: 0 24px;
  text-align: center;
}

.promo-code__code {
  display: grid;
  grid-template-columns: 90% 10%;
  align-items: center;
  margin: 1rem 0 0.7rem;
}

.promo-code__code span[role="img"],
.promo-code__code .ant-spin {
  font-size: 24px;
  text-align: end;
}
