.promo-modal__wrapper {
  display: flex;
  flex-direction: column;

  & .promo-modal__code {
    margin-bottom: 2rem;
    display: grid;
    grid-template-columns: 90% 10%;
    align-items: center;

    & span[role="img"], & .ant-spin {
      font-size: 24px;
      text-align: end;
    }
  }

  & .promo-modal__actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}




