.promo-modal__wrapper {
  display: flex;
  flex-direction: column;
}

.promo-modal__actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.promo-modal__code {
  margin-bottom: 2rem;
  display: grid;
  grid-template-columns: 90% 10%;
  align-items: center;
}

.promo-modal__code span[role="img"],
.promo-modal__code .ant-spin {
  font-size: 24px;
  text-align: end;
}
